
    <section class="cont__camp">
        <audio id='mySound' class="bellring" src="/bell.mp3"></audio>
        <figure class="campana__martillo" onclick="PlaySound('mySound')" >
          <img class="campana" src="/images/campana.svg" alt="campana">
          <img class="martillo" src="/images/martillo.png" alt="martillo">
        </figure>
            <script src="/javascripts/bell.js"></script>
    </section>