<nav class="menu">
  <p class="hamburguer" onclick="toggleClass()">&#9776</p>
    <div class="menu__links">
      <a href="/">+ home</a>
      <a href="/users/login"> + login</a>
      <a href="/users/registro"> + registro</a>
      <a href="/horarios">+ horarios</a>
      <p class="laX" onclick="toggleClass()">&#9587</p>
    </div>
  
  </div>
  </nav>